@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Rochester", cursive;
	}
}

@font-face {
	src: url("../public/fonts/rochester.ttf");
	font-family: "Rochester", cursive;
}
